env/
.env
article/
dataset/
text.txt
cadp_dataset/
runs/
video/
data/
*.rar
*.zip
*.tar.gz
*.pt
*.pdf
*.mp4
*.pt
*.pkl
model/weights/
*__pycache__/
*.pth
.vscode/
.idea/
*.png
*.jpg
*.jpeg
*.json
*.csv
roi-for-video.txt
logs/